/* =======================
	 Layout/Footer
	 ======================= */

// footer
%logo {
	@extend %ir;
	@extend %is-show-block;
}
.logo-shuttle--w {
	@extend %logo;
	@include size(120px 21px);
}
.logo-smartville--w {
	@extend %logo;
	@include size(204px 53px);
}
.copyright {
	color: #fff;
	a {
		color: #fff;
	}
	i {
		@include size(16px);
		display: inline-block;
		background-repeat: no-repeat;
		background-position: center; 
		margin-right: .5em;
	}
	li {
		@extend %is-show-block;
		vertical-align: bottom;
		margin-bottom: .25em;
	}
	.logo-shuttle--w {
		display: inline-block;
		@include size(120px 21px);
	}
	.logo-smartville--w {
		display: inline-block;
		@include size(204px 53px);
	}
	.logo-slogan {
		color: #fff;
		display: inline-block;
		clear: both;
	}
}
@each $animal in add, phone, mail {
	.icon-#{$animal} {
		background-image: url(#{$imagesPath}/icon-#{$animal}.svg);
	}
}