/* =======================
	 Page/Home
	 ======================= */







// Hend and pad
// Screen shot

.screen-bg {
	position: absolute;
	top: 20px;
	left: 120px;
	@include size(384px 240px);
	z-index: 0;
	overflow: hidden;
}
%screen-00 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.screen-01 {
	@extend %screen-00;
	background: url(#{$imagesPath}/sv01.png);
	background-size: cover;
	@extend %is-inline-block;
	top: 0;
}
.screen-02 {
	@extend %screen-00;
	background: url(#{$imagesPath}/sv02.png);
	background-size: cover;
}
.screen-03 {
	@extend %screen-00;
	background: url(#{$imagesPath}/sv03.png);
	background-size: cover;
}
.screen-04 {
	@extend %screen-00;
	background: url(#{$imagesPath}/sv04.png);
	background-size: cover;
}

.hp-group {
	position: fixed;
	top: 320px;
	left: 50%;
	margin-left: -311px;
	@include size(622px 282px);
	z-index: index($z-index,pad);
	overflow: hidden;
	&.transform {
		-webkit-transform-style: preserve-3d;
		-webkit-transform-origin: 50% 50% 0;
		position: absolute;
		width: 464px;
		top: 970px;
		margin-left: -464px;
		.pad {
			left: 0;
		}
		.screen-bg {
			left: 40px;
		}
		&.gogo {
			@include animation(GOSECTION2 .75s ease-out);
			-webkit-animation: GOSECTION2 .75s ease-out;
			// @include ;
		}
		// &.backback {
		// 	-webkit-animation: BACKSECTION0 1s 1 ease-out;
		// }
	}
}
@include keyframes(GOSECTION2) {
	0% {
		@include transform(perspective(1200) rotate3d(0,-1,50, 0deg) translate3d(100px,-250px,0));
	}
	100% {
		@include transform(perspective(1200) rotate3d(0,-1,0, 360deg) translate3d(0,0,0));
	}
}
// @include keyframes(BACKSECTION0) {
// 	0% {-webkit-transform:  perspective(1000) rotate3d(0,1,0, 0deg) translate3d(0,0,0);}
// 	100% {-webkit-transform:  perspective(1000) rotate3d(0,1,0, 360deg) translate3d(0,-200px,0);}
// }
%sub-element {
	position: absolute;
	background-size: contain;
}
%hand {
	@extend %sub-element;
	background-image: url(#{$imagesPath}/hand-v2.png);
	background-repeat: no-repeat;
	@include size(108px 280px);
	top: 80px;
	z-index: 99;
}
.hand--l {
	@extend %hand;
	background-position: right;
	left: 0;
}
.hand--r {
	@extend %hand;
	@include transform (rotateY(-180deg));
	background-position: left;
	right: 0;
}
.hide {
	display: none;
}
.pad {
	@extend %sub-element;
	background-image: url(#{$imagesPath}/pad.png);
	@include size(464px 280px);
	top: 0;
	left: 79px;
	z-index: 88;
}




section {
	z-index: index($z-index, section);
	@extend %clearfix;
}


// .section
%curved {
	position: absolute;
	height: 100px;
	width: 120%;
	content: "";
}
%bg-color {
	content: "";
	background-image: none;
	left: -10%;
}
%bg-image {
	background-image: none;
}
.section {
	position: relative;
	background-attachment: fixed;
	@include pie-clearfix;
		padding: 80px 0px;
	&.bg-color {
	}
	&.bg-image {
	}
	.container {
		position: relative;
		z-index: 2;
	}
}
.bg-white {
	background: #fff;
}

.bg-gray {
	background: #EFF2F5;
}
.bg-image {
	@extend %bg-gradient;
}
%bg-gradient {
	background-image: -svg(linear-gradient(-134deg, #349899 0%, #4AAF99 44%, #4AAF99 44%, #4AAF99 44%, #4DB29A 50%, #50B59A 56%, #66CC9A 100%));
	&:before, &:after {
		background: #EFF2F5;
	}
}
.section-title {
	font-size: 2.8em;
	line-height: 1;
	position: relative;
	&:after {
		margin-top: .3em;
		clear: both;
		content: '';
		@include is-block;
		@extend %center-block;
		@include size(100px 4px);
		border-radius: 2px;
		background: #67CCCC;
	}
	.bg-image & {
		color: #fff;
	}
}
.section-description {
	font-size: 1.5em;
	line-height: 1.6;
	margin-bottom: 40px;
	.bg-image & {
		color: #fff;
	}
}



// SECTCTION 0
// Main Slider (Banner)
#section-0 {
	// .header
	position: relative;
	z-index: index($z-index, header);
	height: 620px;
	.container {
		position: relative;
	}
}

// SECTCTION  1
// Main Slider Nav
#section-1 {
	z-index: index($z-index, section1);
	margin-top: -80px;
	padding: 50px 0;
	.container {
	}
}

// SECTCTION  2
// 智慧家居解決方案
#section-2{
	z-index: index($z-index, section2);
	padding-bottom: 100px;
	.container {
	}
}

// SECTCTION  3
// 無限家庭 無限便利
#section-3{
	z-index: index($z-index, section3);
}

// SECTCTION  4
// 裝置配件
#section-4{
	z-index: index($z-index, section4);
}

// SECTCTION  5
// 使用說明影片
#section-5{
	z-index: index($z-index, section5);
}
// SECTCTION  6
// 使用情境
#section-6{
	z-index: index($z-index, section6);
	z-index: 0;
	// padding-bottom: 40px;
	.container {
		//padding: 200px 0;
	}
}
// 使用情境
#section-7{
	z-index: index($z-index, section7);
	padding-top: 40px;
	.container {
		// margin-top: -150px;
	}
}
// SECTION FOOTER
// FOOTER
#footer {
	z-index: index($z-index, footer);
	padding: 80px 0 50px 0;
	&.bg-color {
		@extend %bg-gradient;
	}
	// padding-bottom: 150px;
}


// sub-element

// Section 0
.slide-mask-wrapper {
	@include size(100% 0);
	position: absolute;
	top:0;
	z-index: index($z-index, slidermask);
	overflow: hidden;
}
.slide-change-layer {
	width:100%;
	height:620px;
	position: absolute;
	top:-620px;
	background-color:#82c250;
	background-image: url(#{$imagesPath}/logocover-2.png);
	background-position: 50%;
	@extend %no-repeat;
}
@include keyframes(slidemask) {
	0% { top: -620px;}
	100% { top: 620px;}
}
.banner {
	height: 620px;
	z-index: index($z-index, section0);

	//
	position: absolute;
	width: 100%;
	height: 620px;
	top: 0px;
}
.slide-1__bg, .slide-2__bg, .slide-1-2__bg, .slide-1-3__bg, .slide-3__bg, .slide-4__bg {
	position: absolute;
	background-position: 50% top;
	
	// 手機不吃
	background-attachment: fixed;
	
	@include transition(none);
	width: 100%;
	height: 620px;
	top: 0;
	z-index: 0;
}
.slide-2, .slide-3, .slide-4{
	display:none;
}
.slide-1__bg {
	background-image: url(#{$imagesPath}/people.png);
	@extend %no-repeat;
}
.slide-1-2__bg {
	background-image: url(#{$imagesPath}/light.png);
	@extend %no-repeat;
	background-position: right top;
}
.slide-1-3__bg {
	background-image: url(#{$imagesPath}/window.png);
	@extend %no-repeat;
	background-position: left top;
}
.slide-2__bg{
	//background-image: url(#{$imagesPath}/point-finger.png);
	background-image: url(#{$imagesPath}/thief.png);
	@extend %no-repeat;
}
.slide-3__bg{
	background-image: url(#{$imagesPath}/oldman.png);
	@extend %no-repeat;
}
.slide-4__bg{
	background-image: url(#{$imagesPath}/robot.png);
	//background-image: url(#{$imagesPath}/woman-muscled.png);
	@extend %no-repeat;
}
.text-a,.text-b,.text-c,.text-d {
	position: relative;
	@include at-breakpoint($ipad) {
		width: 75%;
		position: fixed;
		right: 0;
		left: 0;
		top: 120px;
		@include center-block;
	}
	@include at-breakpoint($desktop) {
		
	}
	.gos2 {
		margin-top: 10px;
	}
}

%slogan {
	color: #fff;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}
.slide__title {
	font-size: 4em;
	font-weight: bold;
	line-height: 1.25;
	@extend %slogan;
}
.slide__slogan {
	font-size: 1.5em;
	@extend %slogan;
	letter-spacing: .2em;
}
#mian-slider {
	position: absolute;
	top: 0;
	@include size(100% 620px);
	overflow: hidden;
	background-color: $bannerBg;;
	@include clearfix;
	li {
		position: absolute;
		width: 100%;
		height: 620px;
	}
}
.gos2 {
	color: #fff;
	background-color: $primary;
	@extend %is-inline-block;
	padding: 5px 15px;
	font-size: 1.25em;
	@extend %cp;
	width: 15%;
	width: 6em;
	@extend %center-block;
	@include border-radius(15px);
}

// Section 1

#main-slider-nav {
	position: relative;
}
#main-slider-nav {
	@include at-breakpoint($ipad) {
		@include span-columns(8,8);
		li {
			@include span-columns(2);
			&:last-child { @include nth-omega(last);}
		}
	}
	@include at-breakpoint($desktop) {
		@include pre(2,12);
		@include span-columns(8,12);
	}
	li {
		position: relative;
		a {
			@extend %is-block;
			outline: none;
			@include transition(all .3s);
			color: $black-20;
		}
		.item-icon {
			position: relative;
			@include border-radius(100%);
			@include size(72px);
			@extend %center-block;
			@extend %is-block;
			border: 3px solid $black-20;
		}
		.item-text {
			text-align: center;
			@extend %is-block;
			@extend %center-block;
		}
		svg {
			position: absolute;
			// @extend %is-block;
			$icon-size: 64px;
			fill: $black-20;
			opacity: 1;
			left: 50%;
			margin-left: $icon-size/2*-1;
			margin-top: (72-$icon-size)/2;
			@include size($icon-size);
			@include transition(all .3s);
			@extend %ir;
		}
		&:hover, &.active {
			a {
				color: $primary;
			}
			.item-icon {
				border: 3px solid $primary;
			}
			svg {
				fill: $primary;
			}
		}
	}
}

// Sectiopn 2
%anicon0df1-2 {
	left: 50%;
	margin-left: -60px;
}
%anicon0df3-4 {
	right: 50%;
	margin-right: -60px;
}
.preview-block {
	min-height: 360px;
	position: relative;
}
@include keyframes(xxx) {
	0% {
		// @include box-shadow(0 0 5px rgba($primary, .5));
		-webkit-filter: drop-shadow(0 0 5px rgba($primary, .5));
		-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	}
	100% {
		// @include box-shadow(0 0 20px rgba($primary, 1));
		-webkit-filter: drop-shadow(0 0 20px rgba($primary, 1));
		-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	}
}

.s2-svf-1 {
	fill: $primary;
}
%advantages-title {
	font-size: 1.5em;
	font-weight: bold;
	color: $primary;
	@extend %is-inline-block;
}
// Section 2-2
.advantages {

	
	
	@include at-breakpoint($ipad) {
		@include span-columns(8,8);
	}
	@include at-breakpoint($desktop) {
		@include pre(2,12);
		@include span-columns(8,12);
		.right-side {
			// @include span-columns(4 omega,12);
			// @include post(1,12);
		}
	}
	h3 {
		@extend %advantages-title;
	}
	h4 {
		@extend %advantages-title;
	}
	h5 {
		font-size: 1.2em;
		padding: 3px 10px;
		background-color: $primary;
		color: #fff;
		@extend %is-inline-block;
		@include border-radius(2px);
		margin-bottom: .6em;
	}
	li {
		font-size: 1em;
		margin-bottom: .25em;
	}
	.adv-01, .adv-02, .adv-03, .adv-04 {
		ul, li {
			// @include unordered;
		}
		li {
			padding-left: 2em;
			background-image: url(#{$imagesPath}/check.svg);
			background-repeat: no-repeat;
			background-position: 5px 5px;
		}
	}
	&.current {
		@include span-columns(12,12);
		margin-left: inherit;
		.right-side {
			@include span-columns(4 omega,12);
			@include post(1,12);
		}
		li {
			text-align: left;
		}
	}
}
// Section 3

.tooltip-item {
	@include size(120px);
	top: 50%;
	margin: -60px 0 0 -60px;
	position: absolute;
	border-radius: 0;
	border: none;
	-webkit-animation: pulse 0.6s infinite alternate;
	animation: pulse 0.6s infinite alternate;
}
.tooltip-content {
	position: absolute;
	background: $primary;
	z-index: 9999;
	width: auto;
	min-width: 4em;
	display: inline-block;
	bottom: 50%;
	margin-bottom: -4em;
	margin-left: -40%;
	padding: .5em 1em;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	opacity: 0;
	cursor: default;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	&:after {
		display: none;
	}
}
.product {
	@include at-breakpoint($ipad) {
		@include span-columns(8,8);
	}
	@include at-breakpoint($desktop) {
		@include pre(1,12);
		@include span-columns(10,12);
	}
}
.ss {
	@include span-columns(3,5);
	@include pre(1,5);

	@include at-breakpoint($ipad) {
		@include span-columns(6,8);
		@include pre(1,8);
	}
	@include at-breakpoint($desktop) {
		@include pre(1,12);
		@include span-columns(10,12);
	}
	@include pre(1,12);
	@include span-columns(10,12);
	font-size: .75em;
	color: $black-60;
	padding: 15px 20px;
	margin-top: 10px;	
	@include border-radius(5px);
	color: $black-60;
	border: 1px solid $black-20;
	@extend %center-block;
}

// Section 4  
.icon-64 {
	@include size(64px);
	position: absolute;
	z-index: 2;
}
.icon-96 {
	@include size(96px);
	position: absolute;
	margin-left: -48px;
	left: 50%;
	top: 80px;
	z-index: 7;
}
.icon-96-wrapper {
	@extend .icon-96;
	margin-top: -80px;
}

.wireless-home {
	@include at-breakpoint($phone) {
		@include span-columns(5,5);
		.ihouse {
			@include size(315px 252px);
		}
	}

	@include at-breakpoint($ipad) {
		@include span-columns(6,8);
		@include pre(1,8);
		.ihouse {
			margin-left: -210px;
		}
	}
	@include at-breakpoint($desktop) {
		@include pre(1,12);
		@include span-columns(10,12);
	}
	position: relative;
	min-height: 438px;
}

@for $i from 1 through 6 {
  .icon-00#{$i} { position: absolute; }
}
%icon-left {
	left: 0;
}
%icon-right {
	right: 0;
}
.dot {
	position: absolute;
	@include size(100%);
	background: url(#{$imagesPath}/dot.png) no-repeat center 16px;
	min-height: 438px;
	.current & {
		@include animation(dotshow 6s linear infinite);
	}
}
.icon-001 {
	top: 0;
	@extend %icon-left;
	.current & {
		@include animation(icon1 6s linear infinite);
	}
}
.icon-002 {
	top: 130px;
	@extend %icon-left;
	.current & {
		@include animation(icon2 6s linear infinite);
	}
}
.icon-003 {
	top: 260px;
	@extend %icon-left;
	.current & {
		@include animation(icon3 6s linear infinite);
	}
}
.icon-004 {
	top: 0;
	@extend %icon-right;
	.current & {
		@include animation(icon4 6s linear infinite);
	}
}
.icon-005 {
	top: 130px;
	@extend %icon-right;
	.current & {
		@include animation(icon5 6s linear infinite);
	}
}
.icon-006 {
	top: 260px;
	@extend %icon-right;
	.current & {
		@include animation(icon6 6s linear infinite);
	}
}
.icon-wifi {
	@include size(96px);
	position: absolute;
	margin-left: -48px;
	left: 50%;
	top: 80px;
	z-index: 8;
	opacity: 1;
		.current & {
		@include animation(fadeInOut 10s infinite);
	}
}
.icon-zwave {
	@include size(96px);
	position: absolute;
	margin-left: -48px;
	left: 50%;
	top: 80px;
	z-index: 9;
	opacity: 1;
	.current & {
		@include animation(fadeOutIn 10s infinite);
	}
}
.ihouse {
	position: absolute;
	left: 50%;
	margin-left: -142px;
	bottom: 120px;
	z-index: 5;
}
.hend-and-ipad {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -145px;
	z-index: 7;
}

$centerX: 375px;
$centerY: 130px;
@mixin left-center {
	top: $centerY;
	left: $centerX;
}
@mixin right-center {
	top: $centerY;
	right: $centerX;
}
@include keyframes(dotshow) {
	0% { opacity: 0;}
	35% { opacity: .5;}
	95% { opacity: 1;}
	100% { opacity: 0;}
}
@include keyframes(icon1) {
	0% { opacity: 0; @include left-center; @include transform(rotate(-720deg));}
	35% { top: 0; left: 0; opacity: .9;@include transform(rotate(0deg));}
	95% { top: 0; left: 0; opacity: .9;@include transform(rotate(0deg));}
	100% { opacity: 0;@include transform (scale(1.5));}
}
@include keyframes(icon2) {
	0% { opacity: 0; @include left-center; @include transform(rotate(-720deg));}
	35% { top: 130px; left: 0; opacity: .9;@include transform(rotate(0deg));}
	95% { top: 130px; left: 0; opacity: .9;@include transform(rotate(0deg));}
	100% { opacity: 0;@include transform (scale(1.5));}
}
@include keyframes(icon3) {
	0% { opacity: 0; @include left-center; @include transform(rotate(-720deg));}
	35% { top: 260px; left: 0; opacity: .9;@include transform(rotate(0deg));}
	95% { top: 260px; left: 0;opacity: .9;@include transform(rotate(0deg));}
	100% { opacity: 0;@include transform (scale(1.5));}
}
@include keyframes(icon4) {
	0% { opacity: 0; @include right-center; @include transform(rotate(-720deg));}
	35% { top: 0; right: 0; opacity: .9;@include transform(rotate(0deg));}
	95% {top: 0; right: 0; opacity: .9;@include transform(rotate(0deg));}
	100% { opacity: 0;@include transform (scale(1.5));}
}
@include keyframes(icon5) {
	0% { opacity: 0; @include right-center; @include transform(rotate(-720deg));}
	35% { top: 130px; right: 0; opacity: .9;@include transform(rotate(0deg));}
	95% { top: 130px; right: 0; opacity: .9;@include transform(rotate(0deg));}
	100% { opacity: 0;@include transform (scale(1.5));}
}
@include keyframes(icon6) {
	0% { opacity: 0; @include right-center; @include transform(rotate(-720deg));}
	35% { top: 260px; right: 0; opacity: .9;@include transform(rotate(0deg));}
	95% { top: 260px; right: 0; opacity: .9;@include transform(rotate(0deg));}
	100% { opacity: 0;@include transform (scale(1.5));}
}
@include keyframes(fadeInOut) {
	0% { opacity: 0;top:80px;}
	25% { opacity: 1;top:80px;}
	50% { opacity: 0;top:80px;}
	75% { opacity: 1;top:80px;}
	100% { opacity: 0;top:80px;}
}
@include keyframes(fadeOutIn) {
	0% { opacity: 1;top:80px;}
	25% { opacity: 0;top:80px;}
	50% { opacity: 1;top:80px;}
	75% { opacity: 0;top:80px;}
	100% { opacity: 1;top:80px;}
}


// Section 6
.vedio-wrapper {
	border: 2px solid #D8D8D8;
	padding: 10px;
	@include clearfix;
	@include border-radius(20px);
	@include at-breakpoint($ipad) {
		@include span-columns(8,8);
	}
	@include at-breakpoint($desktop) {
		margin-left: -210px;
		@include pre(2,12);
		@include span-columns(8,12);
	}
}
.vedio-inner {
	border-radius: 10px;
	float: none;
	clear: both;
	width: 100%;
	position: relative;
	padding-bottom: 53.25%;
	padding-top: 25px;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	}
}
// override viemo
.video.cover, .video{
	@include border-radius(15px !important);
}
.player .video-wrapper {
	background: transparent;
}

.tab_wrap  {
	@include span-columns(9,12);
	position: relative;
	background: url(#{$imagesPath}/house3d-bg.png);
	//
	height: 456px;
	li {
		position: relative;
	}
	.aaa {
		position: absolute;
		top: 0;
		left: 0;
		width: 700px;
		height: 456px;
		z-index: 99;
		// display: none;
	}
	.bbb {
		position: absolute;
		top: 0;
		left: 0;
		width: 700px;
		height: 456px;
		z-index: 999;
	}
	#situation_svg {
		position: absolute;
		top: 0;
		left: 0;		
		.mask {
			display: none;
			opacity: 0.6;
		}
		& .cur {
			display: block;
		}
	}	
}
.scenetab {
	position: relative;
	@extend %navbar;
	@include span-columns(3 omega,12);
	z-index: 5;
	@extend %nav-fullwidth;
	.current & {
	}
}
.tag-tab {
	position: relative;
	@include clearfix;
	li {
		width: 100%;
		& + li {
			border-top: 1px solid lighten(#00ADEE,20%);
		}
	}
	a {
		color: #00ADEE;
		background-color: rgba($black-5, .75);
		padding: 15px 10px;
		
	}
	li a:hover, li.active a {
		@include is-block;
		color: #fff;
		background-color: #00ADEE;
	}
	.active a {
		font-size: 1.25em;
		border-bottom: none;
	}
}


.bx-pager {
	.bx-pager-item a {
		margin: 0 5px;
	}
}

$tagH: 5px; //上移距離
$tag11a: 190px;
$tag12a: 170px;
$tag13a: 270px;
$tag21a: 10px;
$tag22a: 0px;
$tag23a: 45px;
$tag24a: 40px;
$tag31a: 165px;
$tag32a: 100px;
$tag33a: 190px;
$tag34a: 270px;
$tag41a: 300px;
$tag42a: 310px;
.tag-box {
	position: absolute;
	@include size(100%);
	z-index: 2;
	top: 0;
	left: 0;
	// background-color: rgba(0,0,0,.5); //debog
	.tooltip {
		// reset
		top: initial;
		right: initial;
		bottom: initial;
		left: initial;
	}
	.icon {
		margin-top: 5px;
	}
	.tooltip-content {
		position: absolute;
		font-family: $fontTC;
		background: $primary;
		min-width: 220px;
		@extend %is-inline-block;
		bottom: 50%;
		margin-bottom: -4em;
		margin-left: -50px;
		padding: 15px 10px;
		@include border-radius(4px);
		text-align: center;
		color: #fff;
		opacity: 0;
		cursor: default;
		z-index: 1;
		// @include transition(none);
		h4 {
			font-weight: bold;
			background-color: darken($primary, 10%);
			margin: -15px -10px;
			margin-bottom: 0;
			@include border-radius(4px 4px 0 0);
		}
		ul {
			text-align: left;
			padding-top: 10px;
		}
		// pointer-events: none;
		// -webkit-font-smoothing: antialiased;
		// -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		}
	&.living-room {
		.tag-01 {
			top: 200px;
			left: 30px;
			@include animation(tag11 1s infinite);
		}
		.tag-02 {
			top: 220px;
			left: 230px;
			@include animation(tag12 1s infinite);
		}
		.tag-03 {
			top: 350px;
			left: 150px;
			@include animation(tag13 1s infinite);
		}
	}
	&.kitchen {
		.tag-01 {
			top: 10px;
			left: 220px;
			@include animation(tag21 1s infinite);
		}
		.tag-02 {
			top: 0px;
			left: 320px;
			@include animation(tag22 1s infinite);
		}
		.tag-03 {
			top: 20px;
			left: 155px;
			@include animation(tag23 1s infinite);
		}
		.tag-04 {
			top: 100px;
			left: 440px;
			@include animation(tag24 1s infinite);
		}
	}
	&.bed-room {
		.tag-01 {
			top: 150px;
			right: 30px;
			@include animation(tag31 1s infinite);
		}
		.tag-02 {
			top: 220px;
			right: 120px;
			@include animation(tag32 1s infinite);
		}
		.tag-03 {
			top: 200px;
			right: 200px;
			@include animation(tag33 1s infinite);
		}
		.tag-04 {
			top: 280px;
			right: 90px;
			@include animation(tag34 1s infinite);
		}
	}
	&.balcony {
		.tag-01 {
			top: $tag41a;
			right: 210px;
			@include animation(tag41 1s infinite);
		}
		.tag-02 {
			top: $tag42a;
			right: 380px;
			@include animation(tag42 1s infinite);
		}
	}

}
.icn-tag {
	@include size(59px 81px);
	position: absolute;
	background-image: url(#{$imagesPath}/tag.svg);
	z-index: 999;
}

$tag11b: $tag11a+$tagH;
$tag12b: $tag12a+$tagH;
$tag13b: $tag13a+$tagH;
$tag21b: $tag21a+$tagH;
$tag22b: $tag22a+$tagH;
$tag23b: $tag23a+$tagH;
$tag24b: $tag24a+$tagH;
$tag31b: $tag31a+$tagH;
$tag32b: $tag32a+$tagH;
$tag33b: $tag33a+$tagH;
$tag34b: $tag34a+$tagH;
$tag41b: $tag41a+$tagH;
$tag42b: $tag42a+$tagH;
@include keyframes(tag11) {
	0% { top: $tag11a;}
	75% { top: $tag11b;} 
	100% { top: $tag11a;}
}
@include keyframes(tag12) {
	0% { top: $tag12a;}
	75% { top: $tag12b;} 
	100% { top: $tag12a;}
}
@include keyframes(tag13) {
	0% { top: $tag13a;}
	75% { top: $tag13b;} 
	100% { top: $tag13a;}
}
@include keyframes(tag21) {
	0% { top: $tag21a;}
	75% { top: $tag21b;} 
	100% { top: $tag21a;}
}
@include keyframes(tag22) {
	0% { top: $tag22a;}
	75% { top: $tag22b;} 
	100% { top: $tag22a;}
}
@include keyframes(tag23) {
	0% { top: $tag23a;}
	75% { top: $tag23b;} 
	100% { top: $tag23a;}
}
@include keyframes(tag24) {
	0% { top: $tag24a;}
	75% { top: $tag24b;} 
	100% { top: $tag24a;}
}
@include keyframes(tag31) {
	0% { top: $tag31a;}
	75% { top: $tag31b;} 
	100% { top: $tag31a;}
}
@include keyframes(tag32) {
	0% { top: $tag32a;}
	75% { top: $tag32b;} 
	100% { top: $tag32a;}
}
@include keyframes(tag33) {
	0% { top: $tag33a;}
	75% { top: $tag33b;} 
	100% { top: $tag33a;}
}
@include keyframes(tag34) {
	0% { top: $tag34a;}
	75% { top: $tag34b;} 
	100% { top: $tag34a;}
}
@include keyframes(tag41) {
	0% { top: $tag41a;}
	75% { top: $tag41b;} 
	100% { top: $tag41a;}
}
@include keyframes(tag42) {
	0% { top: $tag42a;}
	75% { top: $tag42b;} 
	100% { top: $tag42a;}
}
// Section 7






%debug {
	background-color: transparent !important;
	border: 1px solid black !important;
}
.debug {
	* {
		@extend %debug;
	}
	&:before, &:after {
		@extend %debug;
		border: 1px solid green !important;
	}
	.bg-white:before, .bg-white:after {
		@extend %debug;
		border: 1px solid green !important;
	}
	.section {
		border: 1px solid red !important;
	}
}

.sticky {
  position: fixed;
  top: 0;
}
.current {
	@include transition(all .3s);
}
// override bxslider
.bx-pager {
	text-align: center;
	font-size: .85em;
	padding-top: 20px;
}
.bx-pager-item {
	display: inline-block;
}
.bx-wrapper, .bx-pager {
	margin-bottom: 0;
	.bx-pager.bx-default-pager a {
		@include border-radius(8px);
		@include size(16px);
		background-color: #fff;
		@include box-shadow(0 0 5px $black-15);
		@extend %is-inline-block;
		&.active,&:hover {
			background-color: #F9A33A;
		}
	}
	.bx-viewport {
		border: none;
		background: none;
		@include box-shadow(none);
		left: 0;
	}
	.bx-prev {
		left: auto;
		right: 100%;
		margin-right: 10px;
		background: url(#{$imagesPath}/controls.png) no-repeat 0 0;
		&:hover {
			background: url(#{$imagesPath}/controls.png) no-repeat 0 -32px;
		}
	}
	.bx-next {
		right: aauto;
		left: 100%;
		margin-left: 10px;
		background: url(#{$imagesPath}/controls.png) no-repeat -32px 0;
		&:hover {
			background: url(#{$imagesPath}/controls.png) no-repeat -32px -32px;
		}

	}
}
