/* =======================
	 Page/Home
	 ======================= */

body {
	// position: relative;
	text-align: center; //RWD MOBILE FIRST
	color: $black-60;
	font-family: $baseFontFamily;
}

// Browse Happy
.browsehappy {
	position: fixed;
	width: 100%;
	padding: 20px 40px;
	background-color: $colorSunFlower;
	border: 4px solid $colorCarrot;
	color: $colorWetAsphalt;
	z-index: 9999;
	a { font-weight: bolder; text-decoration: underline; color: #fff;}
}

%logo {
	@extend %ir;
	color: transparent !important;
	@extend %is-show;
}
.smv-logo {
	@include size(206px 54px);
	background-image: url(#{$imagesPath}/smartville-logo.svg);
	background-size: 206px auto;
	@extend %no-repeat;
	@extend %logo;
}
.logo-slogan {
	text-align: center;
	font-size: .8em;
	letter-spacing: 1em;
	color: $black-50;

	font-size-adjust: none;
	-webkit-text-size-adjust: none;
}
.logo-shuttle--w {background-image: url(#{$imagesPath}/logo-shuttle--w.svg);@extend %logo;}
.logo-shuttle {background-image: url(#{$imagesPath}/logo-shuttle.svg);@extend %logo;}
.logo-smartville--w {background-image: url(#{$imagesPath}/logo-martville--w.svg);@extend %logo;}

%cp {cursor: pointer;}
%no-repeat {
	background-repeat: no-repeat;
}
// MENU right
#menu_right {
	position:fixed;
	top:300px;
	left:45%;
	margin-left:580px;
	z-index:2000;
	border-radius: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(0,0,0,0.10);
	-moz-box-shadow:    0px 1px 0px 0px rgba(255,255,255,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.30);
	box-shadow:         0px 1px 0px 0px rgba(255,255,255,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.30);
}
.navigation-right {
	li {
		@extend %ir;
		@extend %is-show;
		@include size(52px 32px);
		@extend %cp;
		background: url(#{$imagesPath}/menu_right_circle.svg);
		&:hover {
			@include transform (scale(1.2));
		}
		&.active {
			background: url(#{$imagesPath}/menu_right_circle_selected.svg);
		}
	}
}

// Hend and pad
// Screen shot

.screen-bg {
	position: absolute;
	top: 20px;
	left: 120px;
	@include size(384px 240px);
	z-index: 0;
	overflow: hidden;
}
%screen-00 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.screen-01 {
	@extend %screen-00;
	background: url(#{$imagesPath}/sv01.png);
	background-size: cover;
	@extend %is-show;
	top: 0;
}
.screen-02 {
	@extend %screen-00;
	background: url(#{$imagesPath}/sv02.png);
	background-size: cover;
}
.screen-03 {
	@extend %screen-00;
	background: url(#{$imagesPath}/sv03.png);
	background-size: cover;
}
.screen-04 {
	@extend %screen-00;
	background: url(#{$imagesPath}/sv04.png);
	background-size: cover;
}

.hp-group {
	position: fixed;
	top: 320px;
	left: 50%;
	margin-left: -311px;
	@include size(622px 282px);
	z-index: index($z-index,pad);
	overflow: hidden;
	&.transform {
		-webkit-transform-style: preserve-3d;
		-webkit-transform-origin: 50% 50% 0;
		position: absolute;
		width: 464px;
		top: 1070px;
		margin-left: -464px;
		.pad {
			left: 0;
		}
		.screen-bg {
			left: 40px;
		}
		&.gogo {
			
			-webkit-animation: GOSECTION2 .75s ease-out;
			// @include ;
		}
		// &.backback {
		// 	-webkit-animation: BACKSECTION0 1s 1 ease-out;
		// }
	}
}
@include keyframes(GOSECTION2) {
	0% {-webkit-transform:  perspective(1200) rotate3d(0,-1,50, 0deg) translate3d(100px,-250px,0);}
	100% {-webkit-transform:  perspective(1200) rotate3d(0,-1,0, 360deg) translate3d(0,0,0);}
}
// @include keyframes(BACKSECTION0) {
// 	0% {-webkit-transform:  perspective(1000) rotate3d(0,1,0, 0deg) translate3d(0,0,0);}
// 	100% {-webkit-transform:  perspective(1000) rotate3d(0,1,0, 360deg) translate3d(0,-200px,0);}
// }
%sub-element {
	position: absolute;
	background-size: contain;
}
%hand {
	@extend %sub-element;
	background-image: url(#{$imagesPath}/hand-v2.png);
	background-repeat: no-repeat;
	@include size(108px 280px);
	top: 80px;
	z-index: 99;
}
.hand--l {
	@extend %hand;
	background-position: right;
	left: 0;
}
.hand--r {
	@extend %hand;
	@include transform (rotateY(-180deg));
	background-position: left;
	right: 0;
}
.hide {
	display: none;
}
.pad {
	@extend %sub-element;
	background-image: url(#{$imagesPath}/pad.png);
	@include size(464px 280px);
	top: 0;
	left: 79px;
	z-index: 88;
}


// MENU
#menu_top {
	position: absolute;
	background: rgba(white,.5);
	width: 100%;
	height: 104px;
	z-index: 1000;
	left: 0;
	top: 0;
	@include box-shadow (0px 2px 5px 0px rgba(0, 0, 0, 0.05));
	.logo-shuttle {
		@include size(114px 20px);
		@include background-size(cover);
		margin-top: 5px;
	}
}
.color_bar {
	@include size(100% 8px);
	position: fixed;
	top: 0;
	z-index: 9999;
	background: $primary;
}
.menu_tag {
	// position: fixed;
	margin-top: 5px;
	@include size (246px auto);
	background: rgba($white, .85);
	@extend %cp;
	@extend %fl;
}
.menu_tag_pointer {
	display: inline-block;
	padding: 10px 20px;
	// border-bottom: 5px solid $primary;
}
.navigation-top {
	@include at-breakpoint($ipad) {@extend %is-show;}
	@include at-breakpoint($desktop) {@extend %is-show;}
	@extend %navbar;
	@extend %navbar-right;
	margin-top: 42px;
	ul > li {
		margin-left: 4px;
		@extend %is-show;
		padding: 0 15px;
		color: #484848;
		font-size: 1.2em;
		@include border-radius(15px);
		@include transition (background 0.3s ease);
		@extend %cp;
		&:hover {
			background-color: #e2e2e2;
		}
		&.active {
			color: #fff;
			background-color: $primary;
			@include transition (background 0.3s ease);
		}
	}
}

section {
	z-index: index($z-index, section);
}


// .section
%curved {
	position: absolute;
	height: 100px;
	width: 120%;
	content: "";
}
%bg-color {
	content: "";
	background-image: none;
	left: -10%;
}
%bg-image {
	background-image: none;
}
.section {
	position: relative;
	background-attachment: fixed;
	@include pie-clearfix;
	&.bg-color {
		background-attachment: scroll;
		padding: 50px 0px;
		&:before {
			@extend %curved;
			top: -50px;
		}
		&:after {
			@extend %curved;
			bottom: -50px;
		}
		&:before, &:after {
			z-index: 1;
			@extend %bg-color;
			@include transform (rotate(-2.5deg));
		}
	}
	&.bg-image {
		padding: 250px 0px;
		background-size: cover;
	}
	.container {
		position: relative;
		z-index: 2;
	}
}
.bg-white {
	background: #fff;
	@include transform(translateZ(1px));
	&:before, &:after {
		background: #fff;
	}
	.container {

	}
}

.bg-gray {
	background: #EFF2F5;
	margin-top: 50px;
	&:before, &:after {
		background: #EFF2F5;
	}
	.container {
		padding: 50px 0;
	}
}
.bg-image {
	@extend %bg-gradient;
}
%bg-gradient {
	background-image: -svg(linear-gradient(-134deg, #349899 0%, #4AAF99 44%, #4AAF99 44%, #4AAF99 44%, #4DB29A 50%, #50B59A 56%, #66CC9A 100%));
	margin-top: -100px;
	margin-bottom: -100px;
	&:before, &:after {
		background: #EFF2F5;
	}
}
.section-title {
	font-size: 3em;
	line-height: 1;
	position: relative;
	&:after {
		margin-top: .3em;
		// margin-bottom: .25em;
		clear: both;
		content: '';
		@include is-show;
		@extend %center-block;
		@include size(100px 4px);
		border-radius: 2px;
		background: #67CCCC;
	}
	.bg-image & {
		color: #fff;
	}
}
.section-description {
	font-size: 1.5em;
	line-height: 1.6;
	margin-bottom: 40px;
	.bg-image & {
		color: #fff;
	}
}



// SECTCTION 0
// Main Slider (Banner)
#section-0 {
	// .header
	position: relative;
	z-index: index($z-index, header);
	height: 620px;
	.container {
		position: relative;
	}
}

// SECTCTION  1
// Main Slider Nav
#section-1 {
	z-index: index($z-index, section1);
	// &:after {
	//   @include transform (rotate(0));
	// }
	.container {
		margin-top: -25px;
		// margin-bottom: -50px;
	}
}

// SECTCTION  2
// 智慧家居解決方案
#section-2{
	z-index: index($z-index, section2);
	.container {
		// padding-bottom: 200px;
	}
}

// SECTCTION  3
// 無限家庭 無限便利
#section-3{
	z-index: index($z-index, section3);
}

// SECTCTION  4
// 裝置配件
#section-4{
	z-index: index($z-index, section4);
}

// SECTCTION  5
// 使用說明影片
#section-5{
	z-index: index($z-index, section5);
}
// SECTCTION  6
// 使用情境
#section-6{
	z-index: index($z-index, section6);
	z-index: 0;
	.container {
		//padding: 200px 0;
	}
}
// 使用情境
#section-7{
	z-index: index($z-index, section7);
	.container {
		margin-top: -150px;
	}
}
// SECTION FOOTER
// FOOTER
#footer {
	z-index: index($z-index, footer);
	&.bg-color {
		@extend %bg-gradient;
	}
	padding-bottom: 150px;
}


// sub-element

// Section 0
.slide-mask-wrapper {
	@include size(100% 0);
	position: absolute;
	top:0;
	z-index: index($z-index, slidermask);
	overflow: hidden;
}
.slide-change-layer {
	width:100%;
	height:620px;
	position: absolute;
	top:-620px;
	background-color:#82c250;
	background-image: url(#{$imagesPath}/logocover-2.png);
	background-position: 50%;
	@extend %no-repeat;
}
@include keyframes(slidemask) {
	0% { top: -620px;}
	100% { top: 620px;}
}
.banner {
	height: 620px;
	z-index: index($z-index, section0);

	//
	position: absolute;
	width: 100%;
	height: 620px;
	top: 0px;
}
.slide-1__bg, .slide-2__bg, .slide-1-2__bg, .slide-1-3__bg, .slide-3__bg, .slide-4__bg {
	position: absolute;
	background-position: 50% top;
	
	// 手機不吃
	background-attachment: fixed;
	
	@include transition(none);
	width: 100%;
	height: 620px;
	top: 0;
	z-index: 0;
}
.slide-2, .slide-3, .slide-4{
	display:none;
}
.slide-1__bg {
	background-image: url(#{$imagesPath}/people.png);
	@extend %no-repeat;
}
.slide-1-2__bg {
	background-image: url(#{$imagesPath}/light.png);
	@extend %no-repeat;
	background-position: right top;
}
.slide-1-3__bg {
	background-image: url(#{$imagesPath}/window.png);
	@extend %no-repeat;
	background-position: left top;
}
.slide-2__bg{
	background-image: url(#{$imagesPath}/point-finger.png);
	// background-image: url(#{$imagesPath}/thief.png);
	@extend %no-repeat;
}
.slide-3__bg{
	background-image: url(#{$imagesPath}/oldman.png);
	@extend %no-repeat;
}
.slide-4__bg{
	background-image: url(#{$imagesPath}/robot.png);
	@extend %no-repeat;
}
.text-a,.text-b,.text-c,.text-d {
	// margin-top: 140px;
	width: 75%;
	position: fixed;
	right: 0;
	left: 0;
	top: 120px;
	@include center-block;
	.gos2 {
		margin-top: 10px;
	}
}

%slogan {
	color: #fff;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}
.slide__title {
	font-size: 4em;
	font-weight: bold;
	line-height: 1.25;
	@extend %slogan;
}
.slide__slogan {
	font-size: 1.5em;
	@extend %slogan;
	letter-spacing: .2em;
}
#mian-slider {
	position: absolute;
	top: 0;
	@include size(100% 620px);
	overflow: hidden;
	background-color: #e2e1dc;
	@include clearfix;
	// background-color: $primary;
	li {
		position: absolute;
		width: 100%;
		height: 620px;
		// padding-top: 200px;
	}
}
.gos2 {
	color: #fff;
	background-color: $primary;
	@extend %is-show;
	padding: 5px 15px;
	font-size: 1.25em;
	@extend %cp;
	width: 15%;
	@extend %center-block;
	@include border-radius(15px);
}

// Section 1

#main-slider-nav {
	position: relative;
}
#main-slider-nav {
	@include pre(2,12);
	@include span-columns(8,12);//HD
	li {
		position: relative;
		@include span-columns(2,8);//HD
		&:last-child { @include nth-omega(last);}
		a {
			overflow: hidden;
			@extend %is-show;
			@include size(72px);
			background-color: rgba(255, 255, 255, 0.25);
			@include border-radius(100%);
			@extend %center-block;
			outline: none;
			border: 3px solid $black-20;
			color: $black-20;
			@include transition(all .3s);
			svg {
				position: absolute;
				@extend %is-show;
				fill: $black-20;
				top: 50%;
				left: 50%;
				opacity: 1;
				$icon-size: 64px;
				margin-left: $icon-size/2*-1;
				margin-top: $icon-size/2*-1;
				@include size($icon-size);
				@include transition(all .3s);
				@extend %ir;
			}
			span {
				position: absolute;
				text-align: center;
				@extend %is-show;
				@extend %center-block;
				width: 100%;
				top: 110%;
				left: 0;
			}
		}
	}
	li {
		&:hover, &.active {
			a {
				border: 3px solid $primary;
				color: $primary;
				svg {
					fill: $primary;
				}
			}
		}
		.active {
			a:hover {
				svg {
					fill: $primary;
				}
			}
		}
	}
}

// Sectiopn 2
%anicon0df1-2 {
	left: 50%;
	margin-left: -60px;
}
%anicon0df3-4 {
	right: 50%;
	margin-right: -60px;
}
.preview-block {
	min-height: 360px;
	position: relative;
}
@include keyframes(xxx) {
	0% {
		// @include box-shadow(0 0 5px rgba($primary, .5));
		-webkit-filter: drop-shadow(0 0 5px rgba($primary, .5));
		-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	}
	100% {
		// @include box-shadow(0 0 20px rgba($primary, 1));
		-webkit-filter: drop-shadow(0 0 20px rgba($primary, 1));
		-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	}
}

.s2-svf-1 {
	fill: $primary;
}
%advantages-title {
	font-size: 1.5em;
	font-weight: bold;
	color: $primary;
	@extend %is-show-inline;
}
// Section 2-2
.advantages {
	@include pre(2,12);
	@include span-columns(8,12);//HD
	.right-side {
		// @include span-columns(4 omega,12);
		// @include post(1,12);
	}
	h3 {
		@extend %advantages-title;
	}
	h4 {
		@extend %advantages-title;
	}
	h5 {
		font-size: 1.2em;
		padding: 3px 10px;
		background-color: $primary;
		color: #fff;
		@extend %is-show-inline;
		@include border-radius(2px);
		margin-bottom: .6em;
	}
	li {
		font-size: 1em;
		margin-bottom: .25em;
	}
	.adv-01, .adv-02, .adv-03, .adv-04 {
		ul, li {
			// @include unordered;
		}
		li {
			padding-left: 2em;
			background-image: url(#{$imagesPath}/check.svg);
			background-repeat: no-repeat;
			background-position: 5px 5px;
		}
	}
	&.current {
		@include span-columns(12,12);
		margin-left: inherit;
		.right-side {
			@include span-columns(4 omega,12);
			@include post(1,12);
		}
		li {
			text-align: left;
		}
	}
}
// Section 3
.product {
	@include pre(1,12);
	@include span-columns(10,12);
}
.tooltip-item {
	@include size(120px);
	top: 50%;
	margin: -60px 0 0 -60px;
	position: absolute;
	border-radius: 0;
	border: none;
	-webkit-animation: pulse 0.6s infinite alternate;
	animation: pulse 0.6s infinite alternate;
}
.tooltip-content {
	position: absolute;
	background: $primary;
	z-index: 9999;
	width: auto;
	min-width: 4em;
	display: inline-block;
	bottom: 50%;
	margin-bottom: -4em;
	margin-left: -40%;
	padding: .5em 1em;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	opacity: 0;
	cursor: default;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	&:after {
		display: none;
	}
}
.ss {
	font-size: .75em;
	color: $white;
	padding: 15px 20px;
	// margin-bottom: -40px;
	@include border-radius(5px);
	border: 1px solid rgba($white,.5);
	@extend %center-block;
	width: 50%;
}
// Section 4  

@include keyframes(verticalmovement) {
	0% {
		top: 40px;
	}
	50% {
		top: 30px;
	}
	100% {
		top: 40px;
	}
}

.wireless-home {
	@include pre(1,12);
	@include span-columns(10,12);
	ul {
		position: relative;
		height: 520px;
	}
	li {
		position: absolute;
	}
	.texh-h4 {
		font-weight: bold;
		font-size: 1.25em;
	}
	.icon-01 {
		@extend %center-block;
		position: relative;
		width: 131px;
	}
	.icon-02 {
		@extend %center-block;
		position: relative;
		width: 321px;
	}
	.icon-03 {
		position: absolute;
		left: 150px;
		bottom: 180px;
	}
	.icon-04 {
		position: absolute;
		left: 150px;
		bottom: 0;
		+ .text-h4 {
			position: absolute;
			bottom: 145px;
			left: 130px;
		}
	}
	.icon-05 {
		position: absolute;
		right: 150px;
		bottom: 180px;
	}
	.icon-06 {
		position: absolute;
		right: 150px;
		bottom: 30px;
		+ .text-h4 {
			position: absolute;
			bottom: 145px;
			right: 150px;
		}
	}
}
.top, .bottom {
	position: relative;
}
.top {
	margin-bottom: 2em;
}
.leftside,.rightside {
	position: absolute;
	top: -50px;
	// position: relative;
	height: 340px;
	width: 30%;
	overflow: hidden;
}
.leftside {
	left: 0;
	// top: 0;
	// @include fl;
}
.rightside {
	right: 0;
	// top: 0;
	// @include fr;
}
// Section 6
.vedio-wrp {
	@include pre(2,12);
	@include span-columns(8,12);
	// width: 764px;
	// height: 438px;
	// @include center-block;
	border-radius: 20px;
	border: 2px solid #D8D8D8;
	padding: 10px;
	iframe {
		border-radius: 15px;
	}
	.video-wrapper {
		
	}
}

.tab_wrap  {
	@include span-columns(9,12);
	position: relative;
	background: url(#{$imagesPath}/house3d-bg.png);
	//
	height: 456px;
	li {
		position: relative;
	}
	.aaa {
		position: absolute;
		top: 0;
		left: 0;
		width: 700px;
		height: 456px;
		z-index: 99;
		display: none;
	}
	.bbb {
		position: absolute;
		top: 0;
		left: 0;
		width: 700px;
		height: 456px;
		z-index: 999;
	}
}
.scenetab {
	position: relative;
	@extend %navbar;
	@include span-columns(3 omega,12);
	z-index: 5;
	@extend %nav-fullwidth;
	.current & {
	}
}
.tag-tab {
	position: relative;
	@include clearfix;
	li {
		width: 100%;
		& + li {
			border-top: 1px solid lighten(#00ADEE,20%);
		}
	}
	a {
		color: #00ADEE;
		background-color: rgba($black-5, .75);
		padding: 15px 10px;
		
	}
	li a:hover, li.active a {
		@include is-show;
		color: #fff;
		background-color: #00ADEE;
	}
	.active a {
		font-size: 1.25em;
		border-bottom: none;
	}
}


.bx-pager {
	.bx-pager-item a {
		margin: 0 5px;
	}
}


.tag-box {
	position: absolute;
	@include size(100%);
	z-index: 2;
	top: 0;
	left: 0;
	// background-color: rgba(0,0,0,.5); //debog
	.tooltip {
		// reset
		top: initial;
		right: initial;
		bottom: initial;
		left: initial;
	}
	.icon {
		margin-top: 5px;
	}
	.tooltip-content {
		position: absolute;
		font-family: $fontTC;
		background: $primary;
		min-width: 220px;
		@extend %is-show-inline;
		bottom: 50%;
		margin-bottom: -4em;
		margin-left: -50px;
		padding: 15px 10px;
		@include border-radius(4px);
		text-align: center;
		color: #fff;
		opacity: 0;
		cursor: default;
		z-index: 1;
		// @include transition(none);
		h4 {
			font-weight: bold;
			background-color: darken($primary, 10%);
			margin: -15px -10px;
			margin-bottom: 0;
			@include border-radius(4px 4px 0 0);
		}
		ul {
			text-align: left;
			padding-top: 10px;
		}
		// pointer-events: none;
		// -webkit-font-smoothing: antialiased;
		// -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		}
	&.living-room {
		.tag-01 {
			top: 200px;
			left: 30px;
			@include animation(tag11 1s infinite);
		}
		.tag-02 {
			top: 220px;
			left: 230px;
			@include animation(tag12 1s infinite);
		}
		.tag-03 {
			top: 350px;
			left: 150px;
			@include animation(tag13 1s infinite);
		}
	}
	&.kitchen {
		.tag-01 {
			top: 10px;
			left: 220px;
			@include animation(tag21 1s infinite);
		}
		.tag-02 {
			top: 0px;
			left: 320px;
			@include animation(tag22 1s infinite);
		}
		.tag-03 {
			top: 20px;
			left: 155px;
			@include animation(tag23 1s infinite);
		}
		.tag-04 {
			top: 100px;
			left: 440px;
			@include animation(tag24 1s infinite);
		}
	}
	&.bed-room {
		.tag-01 {
			top: 150px;
			right: 30px;
			@include animation(tag31 1s infinite);
		}
		.tag-02 {
			top: 220px;
			right: 120px;
			@include animation(tag32 1s infinite);
		}
		.tag-03 {
			top: 200px;
			right: 200px;
			@include animation(tag33 1s infinite);
		}
		.tag-04 {
			top: 280px;
			right: 90px;
			@include animation(tag34 1s infinite);
		}
	}
	&.balcony {
		.tag-01 {
			top: 420px;
			right: 210px;
			@include animation(tag41 1s infinite);
		}
		.tag-02 {
			top: 400px;
			right: 380px;
			@include animation(tag42 1s infinite);
		}
	}

}
.icn-tag {
	@include size(59px 81px);
	position: absolute;
	background-image: url(#{$imagesPath}/tag.svg);
	z-index: 999;
}

@include keyframes(tag11) {
	0% { top: 200px;}
	75% { top: 205px;} 
	100% { top: 200px;}
}
@include keyframes(tag12) {
	0% { top: 180px;}
	75% { top: 185px;} 
	100% { top: 180px;}
}
@include keyframes(tag13) {
	0% { top: 280px;}
	75% { top: 285px;} 
	100% { top: 280px;}
}
@include keyframes(tag21) {
	0% { top: 10px;}
	75% { top: 15px;} 
	100% { top: 10px;}
}
@include keyframes(tag22) {
	0% { top: 0px;}
	75% { top: 5px;} 
	100% { top: 0px;}
}
@include keyframes(tag23) {
	0% { top: 65px;}
	75% { top: 70px;} 
	100% { top: 65px;}
}
@include keyframes(tag24) {
	0% { top: 40px;}
	75% { top: 45px;} 
	100% { top: 40px;}
}
@include keyframes(tag31) {
	0% { top: 175px;}
	75% { top: 180px;} 
	100% { top: 175px;}
}
@include keyframes(tag32) {
	0% { top: 110px;}
	75% { top: 115px;} 
	100% { top: 110px;}
}
@include keyframes(tag33) {
	0% { top: 200px;}
	75% { top: 205px;} 
	100% { top: 200px;}
}
@include keyframes(tag34) {
	0% { top: 280px;}
	75% { top: 285px;} 
	100% { top: 280px;}
}
@include keyframes(tag41) {
	0% { top: 370px;}
	75% { top: 375px;} 
	100% { top: 370px;}
}
@include keyframes(tag42) {
	0% { top: 320px;}
	75% { top: 325px;} 
	100% { top: 320px;}
}

.video {
	@extend %center-block;
	width: 80%;
	z-index: 1;
}
// Section 7



// footer
%logo {
	@extend %ir;
	@extend %is-show;
}
.logo-shuttle--w {
	@extend %logo;
	@include size(120px 21px);
}
.logo-smartville--w {
	@extend %logo;
	@include size(204px 53px);
}
.copyright {
	color: #fff;
	a {
		color: #fff;
	}
	i {
		@include size(16px);
		display: inline-block;
		background-repeat:no-repeat;
		background-position: center; 

		margin-right: .5em;
	}
	li {
		@extend %is-show;
		text-align: center;
		vertical-align: bottom;
		margin-bottom: .25em;
	}
	.logo-shuttle--w {
		display: inline-block;
		@include size(120px 21px);
	}
	.logo-smartville--w {
		display: inline-block;
		@include size(204px 53px);
	}
	.logo-slogan {
		color: #fff;
		display: inline-block;
		clear: both;
	}
}

.icon-add {background-image: url(#{$imagesPath}/icon-add.svg);}
.icon-phone {background-image: url(#{$imagesPath}/icon-phone.svg);}
.icon-mail {background-image: url(#{$imagesPath}/icon-mail.svg);}



%debug {
	background-color: transparent !important;
	border: 1px solid black !important;
}
.debug {
	* {
		@extend %debug;
	}
	&:before, &:after {
		@extend %debug;
		border: 1px solid green !important;
	}
	.bg-white:before, .bg-white:after {
		@extend %debug;
		border: 1px solid green !important;
	}
	.section {
		border: 1px solid red !important;
	}
}

//test svg

.iconic-lightbulb {
	@extend %cp;
	* {
		-webkit-transition: .4s;
		-moz-transition: .4s;
		transition: .4s;
	}
	.icon-container {
		fill: #fff;
		stroke-width: 6;
		stroke: #fff;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		transition: .3s;
	}
	&:hover .icon-container {
		fill: #fff8db;
		-webkit-transition: 2s;
		transition: 2s;
		-webkit-transition: 2s;
	}
	.iconic-lightbulb-light * {
		stroke-width: 16;
		stroke: #ddd;
		fill: none;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
	&:hover .iconic-lightbulb-light * {
		stroke: #fc0;
		stroke-width: 32;
	}
	.iconic-lightbulb-base {
		fill: #666;
	}
	.iconic-lightbulb-screws * {
		fill: none;
		stroke-width: 16;
		stroke: #333;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}

.sticky {
  position: fixed;
  top: 0;
}
.current {
	@include transition(all .3s);
}
// override bxslider
.bx-pager {
	text-align: center;
	font-size: .85em;
	padding-top: 20px;
}
.bx-pager-item {
	display: inline-block;
}
.bx-wrapper, .bx-pager {
	margin-bottom: 0;
	.bx-pager.bx-default-pager a {
		@include border-radius(8px);
		@include size(16px);
		background-color: #fff;
		@include box-shadow(0 0 5px $black-15);
		@extend %is-show;
		&.active,&:hover {
			background-color: #F9A33A;
		}
	}
	.bx-viewport {
		border: none;
		background: none;
		@include box-shadow(none);
		left: 0;
	}
	.bx-prev {
		left: auto;
		right: 100%;
		margin-right: 10px;
		background: url(#{$imagesPath}/controls.png) no-repeat 0 0;
		&:hover {
			background: url(#{$imagesPath}/controls.png) no-repeat 0 -32px;
		}
	}
	.bx-next {
		right: aauto;
		left: 100%;
		margin-left: 10px;
		background: url(#{$imagesPath}/controls.png) no-repeat -32px 0;
		&:hover {
			background: url(#{$imagesPath}/controls.png) no-repeat -32px -32px;
		}

	}
}

#situation_svg {
	.mask {
		display: none;
		opacity: 0.6;
	}
	& .cur {
		display: block;
	}
	.link {
		opacity: 0;
	}
}