// Loder
#loading_box {
  position: fixed;
  display: block;
  background: rgba($primary,.95);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  text-align: center;
}
#loading_text {
  color: #fff;
  position: absolute;
  // @include animation(loadlogo 1.5s infinite);

  left: 50%;
  top: 35%;
  width: 300px;
  margin-left: -150px;
  
  @include at-breakpoint($break-ipad) {
    left: 50%;
    top: 40%;
    width: 600px;
    height: 200px;
    margin-left: -300px;
  }
  @include at-breakpoint($break-desktop) {
    left: 50%;
    top: 45%;
    width: 800px;
    height: 200px;
    margin-left: -400px;
  }

  .logo-smartville--w {
    @extend %center-block;
    margin-bottom: 25px;
    @include animation(loadlogo 1s infinite);
  }
}
@include keyframes(loadlogo) {
  0% { @include opacity(100); }
  50% { @include opacity(50); }
  100% { @include opacity(100); }
}
#loading_progress {
  // font-size: 1.25em;
  display: none;
}

// LOADER ---------------------------------------------------------------
@mixin animation-delay($delay) {
  // -webkit-animation: bounce 1s 7; /* Safari 4+ */
  // -moz-animation:    bounce 1s 7; /* Fx 5+ */
  // -o-animation:      bounce 1s 7; /* Opera 12+ */
  // animation:         bounce 1s 7; /* IE 10+, Fx 29+ */
  @include animation(bounce 1s 7);
  animation-delay: $delay;
  -webkit-animation-delay: $delay;
}

/* basic styling */
.loader {
  margin: auto;
  text-align: center;
  .loading-circle {
    display: inline-block;
    margin: 30px 7px;
    @include size(15px);
    border-radius:100%;
    color:#fff;
    text-align:center;
    background: white;
    @for $i from 2 through 8 {
      &:nth-child(#{$i}) {
        @include animation-delay(unquote($i + 's'));
      }
    }
  }
}
// @include keyframes(ui-spinner-rotate-right) {
//   0%{transform:rotate(0deg)}
//   25%{transform:rotate(180deg)}
//   50%{transform:rotate(180deg)}
//   75%{transform:rotate(360deg)}
//   100%{transform:rotate(360deg)}
// }