// ======================
// Layouts styles
// ======================

$page-container: ".container";
#{$page-container} {
	// @include container($total-columns, $ipad, $desktop);
	@include container(12);
	// @include set-container-width;
	width: 980px;
	margin: 0 auto;
	@include pie-clearfix;
}


// 幫助排版的背景，可以拿掉
.container {
	@include susy-grid-background;
	// @include at-breakpoint($ipad) {
	// 	@include susy-grid-background;
	// }
	// @include at-breakpoint($desktop) {
	// 	@include susy-grid-background;
	// }
	// .debug & {
	// 	$grid-background-column-color: rgba(#97D561,.5);
	// 	@include susy-grid-background;
	// }
}

/* ======================= Layout styles ======================= */


/* ======================= Page Layout styles ======================= */