// ======================
// Layouts styles
// ======================
$page-container: ".container";
#{$page-container} {
	@include pie-clearfix;
}
@include at-breakpoint($phone) {
	#{$page-container} {
		padding-left: 1.25em;
		padding-right: 1.25em;
		margin-left: -1.25em;
		margin-right: -1.25em;
	}
}
#{$page-container} {
	@include container($break-ipad, $break-desktop);
}
// 做版面
// 一般版（mobile first）

// iPad 版本
@include at-breakpoint($break-ipad) {
	.list-c {
		// @include span-columns(8);
	}
}

// Desktop 版本
@include at-breakpoint($break-desktop) {
	.list-c {
		// @include span-columns(5);
	}
}

// 幫助排版的背景，可以拿掉 
$grid-background-column-color: rgba(#97D561,.5);
.container {
	.debug & {
		@include susy-grid-background;
		@include at-breakpoint($break-ipad) {
			@include susy-grid-background;
		}
		@include at-breakpoint($break-desktop) {
			@include susy-grid-background;
		}
	}
}

/* =======================
   Layout styles
   ======================= */
@import "layout/global";
@import "layout/nav";
@import "layout/header";
// @import "layout/home";
@import "layout/footer";
/* =======================
   Page Layout styles
   ======================= */
